n8n/workflow.json
{
  "name": "AI Article Processor - Groq",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "article-processor",
        "responseMode": "onReceived"
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$json[\"article_url\"] || $json[\"body\"]?.[\"article_url\"]}}",
        "options": {}
      },
      "id": "2",
      "name": "HTTP Scrape",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst NOISE_KEYS = [\n  'sidebar', 'related', 'recommend', 'newsletter', 'advert', 'ads', 'promo',\n  'cookie', 'social', 'share', 'comment', 'breadcrumb', 'menu', 'footer',\n  'header', 'nav', 'author-bio', 'most-read', 'latest', 'trending', 'news',\n  'pagination', 'subscribe', 'sponsor', 'outbrain', 'taboola', 'rail',\n  'read-next', 'more-stories', 'you-may-like', 'popular', 'partner',\n  'banner', 'hero', 'utility', 'meta', 'signup', 'cta', 'recommendation',\n  'marketplace', 'shopping', 'paid-content', 'native-ad', 'breaking'\n].join('|');\n\nfunction removeTagBlocks(html, tags) {\n  let out = html;\n  for (const tag of tags) {\n    const re = new RegExp('<' + tag + '\\b[\\s\\S]*?<\\/' + tag + '>', 'gi');\n    out = out.replace(re, ' ');\n  }\n  return out;\n}\n\nfunction removeAttrNoise(html, tags) {\n  let out = html;\n  for (const tag of tags) {\n    const re = new RegExp(\n      '<' + tag + '\\b[^>]*(?:id|class|role|aria-label|data-testid|data-component)\\s*=\\s*[\"\\'][^\"\\']*(?:' + NOISE_KEYS + ')[^\"\\']*[\"\\'][^>]*>[\\s\\S]*?<\\/' + tag + '>',\n      'gi'\n    );\n    out = out.replace(re, ' ');\n  }\n  return out;\n}\n\nfunction stripNoise(html) {\n  let out = String(html || '');\n\n  out = removeTagBlocks(out, [\n    'script', 'style', 'noscript', 'svg', 'iframe', 'form', 'button',\n    'header', 'nav', 'aside', 'footer'\n  ]);\n\n  out = removeAttrNoise(out, [\n    'div', 'section', 'aside', 'nav', 'ul', 'ol', 'li', 'span'\n  ]);\n\n  out = out\n    .replace(/<!--([\\s\\S]*?)-->/g, ' ')\n    .replace(/<a\\b[^>]*>/gi, ' ')\n    .replace(/<\\/a>/gi, ' ')\n    .replace(/<figure\\b[\\s\\S]*?<\\/figure>/gi, ' ')\n    .replace(/<figcaption\\b[\\s\\S]*?<\\/figcaption>/gi, ' ')\n    .replace(/<time\\b[\\s\\S]*?<\\/time>/gi, ' ');\n\n  return out;\n}\n\nfunction toText(html) {\n  return String(html)\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&nbsp;|&#160;/gi, ' ')\n    .replace(/&amp;/gi, '&')\n    .replace(/&lt;/gi, '<')\n    .replace(/&gt;/gi, '>')\n    .replace(/&quot;/gi, '\"')\n    .replace(/&#39;|&apos;/gi, \"'\")\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction scoreBlock(text) {\n  if (!text) return 0;\n  const len = text.length;\n  const sentences = (text.match(/[.!?]+/g) || []).length;\n  const commas = (text.match(/,/g) || []).length;\n  const words = (text.match(/\\b[\\w'-]+\\b/g) || []).length;\n\n  const sentenceBonus = Math.min(sentences * 14, 280);\n  const commaBonus = Math.min(commas * 3, 120);\n  const wordPenalty = words < 80 ? 300 : 0;\n\n  return len + sentenceBonus + commaBonus - wordPenalty;\n}\n\nfunction extractCandidates(html) {\n  const candidates = [];\n  const blockRe = /<(main|article|section|div)\\b([^>]*)>([\\s\\S]*?)<\\/\\1>/gi;\n\n  for (const match of html.matchAll(blockRe)) {\n    const attrs = (match[2] || '').toLowerCase();\n    if (!/(content|article|post|story|main|body|entry|text)/i.test(attrs)) continue;\n\n    const text = toText(match[3]);\n    if (text.length < 450) continue;\n\n    candidates.push(text);\n  }\n\n  return candidates;\n}\n\nfunction dedupe(text) {\n  const parts = text.split(/(?<=[.!?])\\s+/);\n  const seen = new Set();\n  const out = [];\n\n  for (const p of parts) {\n    const key = p.toLowerCase().replace(/[^a-z0-9 ]+/g, '').trim();\n    if (!key || key.length < 20 || seen.has(key)) continue;\n    seen.add(key);\n    out.push(p);\n  }\n\n  return out.join(' ').replace(/\\s+/g, ' ').trim();\n}\n\nfunction extractMainContent(raw) {\n  const prunedHtml = stripNoise(raw);\n  const candidates = extractCandidates(prunedHtml);\n\n  candidates.push(toText(prunedHtml));\n  candidates.sort((a, b) => scoreBlock(b) - scoreBlock(a));\n\n  return dedupe(candidates[0] || '').slice(0, 7000);\n}\n\nreturn items.map((item) => {\n  const raw = typeof item.json.body === 'string'\n    ? item.json.body\n    : JSON.stringify(item.json.body || item.json.data || item.json);\n\n  const cleanedText = extractMainContent(raw);\n\n  return {\n    json: {\n      ...item.json,\n      cleaned_text: cleanedText || 'No article content found'\n    }\n  };\n});"
      },
      "id": "7",
      "name": "Clean HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer <YOUR_GROQ_API_KEY>"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: \"llama-3.1-8b-instant\",\n  max_tokens: 350,\n  messages: [\n    {\n      role: \"user\",\n      content: \"Summarize this news article in 5 concise bullet points:\\n\\n\" + ($json[\"cleaned_text\"] || \"No article content found\")\n    }\n  ]\n}) }}",
        "options": {}
      },
      "id": "3",
      "name": "Groq Summarize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer <YOUR_GROQ_API_KEY>"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: \"llama-3.1-8b-instant\",\n  max_tokens: 220,\n  messages: [\n    {\n      role: \"user\",\n      content: \"Create 3 key insights from this summary:\\n\\n\" + ($json[\"choices\"]?.[0]?.[\"message\"]?.[\"content\"] || JSON.stringify($json))\n    }\n  ]\n}) }}",
        "options": {}
      },
      "id": "4",
      "name": "Groq Insights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "",
        "sheetName": "",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Session ID": "={{$json[\"session_id\"]}}",
            "Article URL": "={{$json[\"article_url\"]}}",
            "Summary": "={{$json[\"summary_text\"]}}",
            "Insights": "={{$json[\"insights_text\"]}}",
            "Email": "={{$json[\"recipient_email\"]}}"
          }
        },
        "options": {}
      },
      "id": "5",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "",
        "toEmail": "={{$json[\"recipient_email\"]}}",
        "subject": "Article Insights Ready",
        "emailFormat": "html",
        "html": "={{\"<h2>Article Report</h2><p>Hello,</p><p>Here is your processed article report.</p><h3>Summary</h3><p>\" + (($json[\"summary_text\"] || \"N/A\").replace(/\\n/g, \"<br>\")) + \"</p><h3>Insights</h3><p>\" + (($json[\"insights_text\"] || \"N/A\").replace(/\\n/g, \"<br>\")) + \"</p><p>Regards,<br>AI Article Processor</p>\"}}",
        "options": {}
      },
      "id": "6",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1440,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map((item) => {\n  const webhook = $node[\"Webhook\"].json?.body || $node[\"Webhook\"].json || {};\n\n  return {\n    json: {\n      ...item.json,\n      recipient_email: webhook.email || \"\",\n      article_url: webhook.article_url || \"\",\n      session_id: webhook.session_id || \"\",\n      summary_text: $node[\"Groq Summarize\"].json?.choices?.[0]?.message?.content || \"\",\n      insights_text: $node[\"Groq Insights\"].json?.choices?.[0]?.message?.content || \"\"\n    }\n  };\n});"
      },
      "id": "8",
      "name": "Prepare Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Scrape": {
      "main": [
        [
          {
            "node": "Clean HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean HTML": {
      "main": [
        [
          {
            "node": "Groq Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Summarize": {
      "main": [
        [
          {
            "node": "Groq Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Insights": {
      "main": [
        [
          {
            "node": "Prepare Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "pinData": {},
  "active": true
}
